@tailwind base;
@tailwind components;
@tailwind utilities;

.active-icon svg path{
    fill: #FFFFFF !important;
}

.pending-icon svg path{
    fill: #626262 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #545151;
  -webkit-box-shadow: 0 0 0px 1000px #eeeeee inset;
  transition: background-color 5000s ease-in-out 0s;
  color: #000;
  outline: 1px solid transparent;
  
};

