@tailwind base;
@tailwind components;
@tailwind utilities;


.MuiInputBase-input {
    /* border: 1px solid #A7A7A7; */
    border-radius: 20px;
}
.MuiInputBase-input:hover {
    border: 1px solid #A7A7A7;
    outline: white solid 1px;
}
.MuiOutlinedInput-root {
    border-radius: 20px;
    border: 1px solid white;
    outline: none !important;
    
}
.MuiTextField-root  {
    border: 1px solid white;
    outline: none !important;

}