.p-fileupload-choose {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    padding: 15px 3px 15px 27px;
    margin-right: 10px;
    right: -5px;
    top: 71%;
    background-color: blue;
    background: transparent;
}


.p-focus {
    border: 0px !important;
    outline: none !important;
}
.p-button:focus{
    border: 0px !important;
    outline: none !important;
    box-shadow: none;
}